body {
	background: linear-gradient(rgb(103,58,183), rgb(63,81,181));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	min-height: 100%;
}

div {
	margin:auto;
}

#wrapper{
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
	width:450px;
	
}

.gradient {
	margin-top:2%;
	background: linear-gradient(to right, #4CAF50 0%, #FFEB3B 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	display:inline-block;
}

.vertical-gradient {
	margin-top:2%;
	background: linear-gradient(to bottom, #4CAF50 0%, #FFEB3B 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	display:inline-block;
}

.reverse-gradient {
	margin-top:2%;
	background: linear-gradient(to right, #FFEB3B 0%, #4CAF50 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	display:inline-block;
}

.center {
	display:flex;
	justify-content:center;
	align-items:center;
	width: 380px;
}

.bigger-center {
	display:flex;
	justify-content:center;
	align-items:center;
	width: 360px;
	height: 600px;
}

.fat-center {

	display:flex;
	justify-content:center;
	align-items:center;
	width: 100%;
}

.textBox {
	width: 380px;
	position:relative;
}

.text-name-last {
	display:inline-block;
	width: 185px;
	position:relative;
}

.text-name-first {
	display:inline-block;
	width: 185px;
	position:relative;
}

.text-right {
	float:right;
}

.text {
	color:#FFF;

}

.spacer-large {
	margin-top:5%;
}

.spacer-small {
	margin-top:1%;
}

.spacer-left {
	margin-left:10px;
}

.login {
	right:5px;
}

.boxed {
	border: linear-gradient(rgb(103,58,183), rgb(63,81,181));
	background: linear-gradient(to right, #4CAF50 0%, #FFEB3B 100%);
	padding: 5px;
	text-align: center;
}

.boxed-with-gradient-border {
	border-width: 5px;
	border: linear-gradient(to bottom, rgb(103,58,183), rgb(63,81,181));
	border: linear-gradient(to right,  #4CAF50 0%, #FFEB3B 100%);
	background: linear-gradient(to right, #4CAF50 0%, #FFEB3B 100%);
	padding: 5px;
	text-align: center;
}

.vertical-gradient-boxed {
	border: linear-gradient(rgb(103,58,183), rgb(63,81,181));
	background: linear-gradient(to bottom, #ffffff 0%, #4CAF50 100%);
	padding: 5px;
	text-align: center;
}

.left-block {
	display: inline-block;
	width: 40%;
	margin-right: 20%;
	margin-left: 5%;
}

.center-block {
	display: inline-block;
	width: 40%;
	margin-right: 20%;
}

.right-block {
	display: inline-block;
	width: 40%;
	margin-right: 5%;
}

.wide-box {
	width: 71%;
}

.rounded {
	border-radius: 25px;
}

.change-font {
	font-family: "Arial";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
